[MESSAGES CONTROL]
disable=line-too-long, invalid-name, missing-docstring, too-many-statements, too-many-instance-attributes, too-few-public-methods, logging-format-interpolation, consider-using-with, trailing-whitespace, c-extension-no-member, too-many-branches, too-many-locals, too-many-positional-arguments, too-many-arguments, too-many-nested-blocks
